In [8]:
import numpy as np
import pandas as pd

In [5]:
df = pd.DataFrame({
    '1列目':[1,2,3,4],
    '2列目':[10,20,30,40]
})

In [6]:
df

   1列目  2列目
0    1   10
1    2   20
2    3   30
3    4   40

In [9]:
df = pd.DataFrame(
    np.random.rand(20,3),
    columns={'a','b','c'}
)
df

           a         c         b
0   0.270470  0.027624  0.635314
1   0.958876  0.774212  0.188332
2   0.065655  0.106830  0.711724
3   0.643506  0.900676  0.494158
4   0.470923  0.320910  0.956434
5   0.512493  0.777959  0.410579
6   0.475207  0.619781  0.397504
7   0.403733  0.930758  0.270865
8   0.156189  0.259095  0.104398
9   0.833420  0.044336  0.137129
10  0.937687  0.435783  0.764665
11  0.364622  0.712274  0.894881
12  0.810367  0.999592  0.113114
13  0.892821  0.543806  0.778868
14  0.587134  0.008241  0.583650
15  0.719273  0.845716  0.683368
16  0.427614  0.979420  0.346812
17  0.248166  0.028751  0.462793
18  0.259079  0.552533  0.175769
19  0.124296  0.968858  0.188246

In [11]:
df = pd.DataFrame(
    np.random.rand(100,2)/[50,50] + [35.69,139.70],
    columns={'lat','lon'}
)
df

          lon         lat
0   35.706999  139.719037
1   35.704307  139.710900
2   35.709048  139.701160
3   35.694870  139.705623
4   35.699698  139.708424
5   35.694402  139.718079
6   35.698518  139.703483
7   35.691299  139.701358
8   35.700604  139.701300
9   35.703742  139.701995
10  35.695444  139.707549
11  35.698512  139.715347
12  35.703840  139.711670
13  35.697282  139.712176
14  35.699185  139.704383
15  35.704785  139.713852
16  35.702135  139.706838
17  35.696573  139.700390
18  35.700614  139.719391
19  35.704393  139.703129
20  35.692305  139.716169
21  35.707206  139.712224
22  35.693509  139.709858
23  35.697359  139.702445
24  35.695388  139.701923
25  35.690225  139.715966
26  35.701284  139.710021
27  35.697675  139.710142
28  35.699693  139.714106
29  35.701971  139.713957
..        ...         ...
70  35.698475  139.705095
71  35.700440  139.707020
72  35.702463  139.710543
73  35.701147  139.705444
74  35.709063  139.716940
75  35.706659  139.706005
76  35.703950  139.714107
77  35.693903  139.717890
78  35.698284  139.718792
79  35.709396  139.713338
80  35.706595  139.713524
81  35.699834  139.714153
82  35.701292  139.719398
83  35.700697  139.701221
84  35.691522  139.711088
85  35.701709  139.716190
86  35.697988  139.705858
87  35.698881  139.701888
88  35.703164  139.718679
89  35.691645  139.704811
90  35.695347  139.715001
91  35.701011  139.713626
92  35.709842  139.715159
93  35.694021  139.711925
94  35.695647  139.701719
95  35.701040  139.716791
96  35.706575  139.703370
97  35.705645  139.705680
98  35.702532  139.701053
99  35.707514  139.704228

[100 rows x 2 columns]

In [1]:
conda info -e

# conda environments:
#
base                     C:\Users\shiro\Anaconda3
py36                     C:\Users\shiro\Anaconda3\envs\py36
py38                  *  C:\Users\shiro\Anaconda3\envs\py38
styletrans               C:\Users\shiro\Anaconda3\envs\styletrans
styletrans_py37          C:\Users\shiro\Anaconda3\envs\styletrans_py37
tensorflow               C:\Users\shiro\Anaconda3\envs\tensorflow
tf140                    C:\Users\shiro\Anaconda3\envs\tf140


Note: you may need to restart the kernel to use updated packages.

In [1]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]