In [8]:
import numpy as np
import pandas as pd

In [5]:
df = pd.DataFrame({
    '1列目':[1,2,3,4],
    '2列目':[10,20,30,40]
})

In [6]:
df

   1列目  2列目
0    1   10
1    2   20
2    3   30
3    4   40

In [9]:
df = pd.DataFrame(
    np.random.rand(20,3),
    columns={'a','b','c'}
)
df

           a         c         b
0   0.270470  0.027624  0.635314
1   0.958876  0.774212  0.188332
2   0.065655  0.106830  0.711724
3   0.643506  0.900676  0.494158
4   0.470923  0.320910  0.956434
5   0.512493  0.777959  0.410579
6   0.475207  0.619781  0.397504
7   0.403733  0.930758  0.270865
8   0.156189  0.259095  0.104398
9   0.833420  0.044336  0.137129
10  0.937687  0.435783  0.764665
11  0.364622  0.712274  0.894881
12  0.810367  0.999592  0.113114
13  0.892821  0.543806  0.778868
14  0.587134  0.008241  0.583650
15  0.719273  0.845716  0.683368
16  0.427614  0.979420  0.346812
17  0.248166  0.028751  0.462793
18  0.259079  0.552533  0.175769
19  0.124296  0.968858  0.188246

In [10]:
df = pd.DataFrame(
    np.random.rand(100,2)/[50,50] + [35.69,139.70],
    columns={'lat','lon'}
)
df

         lon       lat
0   0.795917  0.606175
1   0.518966  0.313142
2   0.497821  0.056530
3   0.617564  0.926305
4   0.892156  0.701416
5   0.052286  0.713182
6   0.124008  0.972278
7   0.249177  0.412115
8   0.476517  0.081286
9   0.453205  0.357731
10  0.954569  0.765206
11  0.624629  0.726791
12  0.820936  0.148259
13  0.171859  0.670449
14  0.216365  0.400436
15  0.755631  0.084321
16  0.581400  0.677347
17  0.738262  0.575527
18  0.187298  0.366525
19  0.359613  0.204341
20  0.336165  0.067098
21  0.324275  0.403941
22  0.101740  0.123916
23  0.692863  0.622044
24  0.745576  0.839109
25  0.899265  0.854614
26  0.952893  0.290032
27  0.266194  0.969430
28  0.931945  0.078243
29  0.598742  0.345075
..       ...       ...
70  0.324726  0.594363
71  0.233602  0.551652
72  0.266365  0.712800
73  0.834524  0.815677
74  0.993629  0.904947
75  0.516629  0.720666
76  0.665695  0.207428
77  0.178337  0.283344
78  0.038345  0.569167
79  0.156767  0.891675
80  0.460366  0.654511
81  0.776296  0.380329
82  0.746645  0.278579
83  0.952573  0.711859
84  0.070171  0.680266
85  0.468889  0.735131
86  0.719223  0.507638
87  0.284243  0.218778
88  0.341815  0.219044
89  0.173212  0.410920
90  0.609573  0.273704
91  0.394577  0.827594
92  0.947672  0.999458
93  0.459193  0.240225
94  0.643893  0.208426
95  0.036036  0.679205
96  0.605119  0.358669
97  0.737297  0.622504
98  0.302908  0.306300
99  0.307333  0.904791

[100 rows x 2 columns]